Source: libnss-mapuser
Priority: optional
Maintainer: dev-support <dev-support@cumulusnetworks.com>
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.16.1), git
Section: libs
Standards-Version: 3.9.6
Homepage: http://www.cumulusnetworks.com

Package: libnss-mapuser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: NSS modules to map any requested username to a local account
 Performs getpwname and getpwuid lookups via NSS for systems like RADIUS
 where it is not possible to do a username lookup without authentication
 (with a password or similar).   Used to allow ssh and other login
 mechanisms via RADIUS without having a local account.
